#root {
    -fx-background-color: white;
    -fx-font-size: 14px;
    -fx-font-family: Ubuntu;
}

.heading {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-padding: 8px 98px 9px 10px;
}

.text-field:hover, .text-field:focused {
    -fx-border-color: skyblue;
}

.button {
    -fx-background-radius: 0;
    -fx-border-color: #00a5e7;
    -fx-background-color: #00a5e7;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button:hover, .button:focused {
    -fx-background-color: #02b3ff;
}

.button.copy {
    -fx-border-color: green;
    -fx-background-color: green;
}

.button.copy:hover, .button.copy:focused {
    -fx-background-color: #008d00;
}

.button.reset{
    -fx-border-color: orange;
    -fx-background-color: orange;
    -fx-text-fill: black;
}

.button.reset:hover, .button.reset:focused{
    -fx-background-color: rgba(255, 165, 0, 0.87);
}

.progress-bar .bar {
    -fx-background-color: #007c03;
}